!!! 5
html(lang="en")
	head
		script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		!= SocketStream
		meta(charset="utf-8")
		title 2DMapGeneration
	body
		canvas(width=500,height=300)
		#mocha